/* 样式: 表单(内) */
.login-border .el-form {
  padding: 90px 30px;
  /* margin: 5px 0; */
  width: 100%;
  box-sizing: border-box;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* 样式: message错误提示颜色 */
.el-form-item__error {
  padding-top: 0px;
  color: #c7c6c4;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* 样式: input(输入内容字体、大小) */
.el-input__inner {
  font-family: "Microsoft" !important;
  font-size: 14px !important;
}